@page
@model DiscountStore.UI.Pages.IndexModel

<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>DiscountStore</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <style>
        table {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;

            text-align: center;
        }

        td:first-child {
            text-align: left;
        }

        tfoot {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div style="">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Add
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var cartItem in Model.CartItems.GroupBy(tab => tab.ItemId))
                {
                    <tr>
                        <td>
                            @cartItem.First().Item.Name
                        </td>
                        <td>
                            @cartItem.Count()x
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="Add(@cartItem.First().ItemId);">+</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary" onclick="Remove(@cartItem.First().Id);">-</button>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        Total price: @(Model.TotalPrice.ToString("0.00€"))
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>

    <script type="text/javascript">
        function Add(itemId) {
            post('', { type: 'add', id: itemId }, 'POST')
        }

        function Remove(cartItemId) {
            post('', { type: 'remove', id: cartItemId }, 'POST')
        }

        function post(path, params, method) {

            // The rest of this code assumes you are not using a library.
            // It can be made less verbose if you use one.
            const form = document.createElement('form');
            form.method = method;
            form.action = path;

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];

                    form.appendChild(hiddenField);
                }
            }

            form.appendChild(createElementFromHTML('@Html.AntiForgeryToken()'));

            document.body.appendChild(form);
            form.submit();
        }

        function createElementFromHTML(htmlString) {
            var div = document.createElement('div');
            div.innerHTML = htmlString.trim();

            // Change this to div.childNodes to support multiple top-level nodes
            return div.firstChild;
        }
    </script>
</body>
</html>




